{% extends "layout.html" %}

{% block content %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: goldenrod;">
    <!-- Image and text -->
    <nav class="navbar navbar-light" style="background-color: goldenrod;">
        <a class="navbar-brand" href="/">
        <img src="https://www.picuki.com/app/controllers/proxy_image.php?url=https%3A%2F%2Finstagram.fdnk3-2.fna.fbcdn.net%2Fv%2Ft51.2885-19%2Fs320x320%2F98067424_1031961143868190_1322240037517000704_n.jpg%3Ftp%3D1%26_nc_ht%3Dinstagram.fdnk3-2.fna.fbcdn.net%26_nc_ohc%3Djm0oWLEh0WMAX-hrYxq%26edm%3DABfd0MgBAAAA%26ccb%3D7-4%26oh%3De99df4a7d60be59b77d13ea638d97f68%26oe%3D60C734B3%26_nc_sid%3D7bff83" 
        width="70" height="70" class="d-inline-block align-content" alt="">
            Ganadería Juan Jero
        </a>
    </nav> 
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
<li class="nav-item ">
<a class="nav-link" href="/"> Inicio <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Razas
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
<a class="dropdown-item" href="/raza-gyrolandas"> Gyrolandas</a>
</div>
</li>
<li class="nav-item">
<a class="nav-link" href="/sobre-nosotros">Nosotros</a>
 </li>
<li class="nav-item">
<a class="nav-link" href="/contactenos">contactenos</a>
</li>
</ul></div>
</nav>

<h1 style="color: white;">gyrolandas</h1>

<!-- imagenes -->
<div class="gyrol">
    <div class="md-content">
        <div class="row">
          <div class="col-sm">
          <div class="card1">
              <img src="https://www.picuki.com/hosted-by-instagram/url=https%3A%7C%7C%7C%7Cinstagram.flwo4-2.fna.fbcdn.net%7C%7Cv%7C%7Ct51.2885-15%7C%7Csh0.08%7C%7Ce35%7C%7Cc180.0.1080.1080a%7C%7Cs640x640%7C%7C179961608_400400477642648_5999783697216335474_n.jpg%3Ftp%3D1%26_nc_ht%3Dinstagram.flwo4-2.fna.fbcdn.net%26_nc_cat%3D108%26_nc_ohc%3DuV5zWNs63FEAX853Hd9%26edm%3DABfd0MgBAAAA%26ccb%3D7-4%26oh%3D45e2a5398b5dc8739f6f3e9a2294e494%26oe%3D60C7B6CF%26_nc_sid%3D7bff83" 
              class="card-img-top" alt="...">
          </div>
          </div>
          <div class="col-sm">
          <div class="card1">
              <img src="https://www.picuki.com/hosted-by-instagram/url=https%3A%7C%7C%7C%7Cinstagram.flwo4-2.fna.fbcdn.net%7C%7Cv%7C%7Ct51.2885-15%7C%7Csh0.08%7C%7Ce35%7C%7Cc2.0.1436.1436a%7C%7Cs640x640%7C%7C179596517_1468056943560026_2409809879265051522_n.jpg%3Ftp%3D1%26_nc_ht%3Dinstagram.flwo4-2.fna.fbcdn.net%26_nc_cat%3D102%26_nc_ohc%3D4INC7Y9U5oEAX9GyuJY%26edm%3DABfd0MgBAAAA%26ccb%3D7-4%26oh%3D41d5ffb9335fd38a9fb53fa7a181a0b9%26oe%3D60C88B5F%26_nc_sid%3D7bff83" 
              class="card-img-top" alt="...">
          </div>
          </div>
          <div class="col-sm">
          <div class="card1">
              <img src="https://www.picuki.com/hosted-by-instagram/url=https%3A%7C%7C%7C%7Cinstagram.flwo4-1.fna.fbcdn.net%7C%7Cv%7C%7Ct51.2885-15%7C%7Csh0.08%7C%7Ce35%7C%7Cc160.0.960.960a%7C%7Cs640x640%7C%7C179060584_4251450424878515_951803982249022069_n.jpg%3Ftp%3D1%26_nc_ht%3Dinstagram.flwo4-1.fna.fbcdn.net%26_nc_cat%3D111%26_nc_ohc%3DREU6P5KwO8oAX9nDa6l%26edm%3DABfd0MgBAAAA%26ccb%3D7-4%26oh%3D9f1d9afa4be724a3042b2e6a3d880750%26oe%3D60C7B7D7%26_nc_sid%3D7bff83" 
              class="card-img-top" alt="...">
          </div>
          </div>

          <div class="col-sm">
            <div class="card1">
                <img src="https://i.postimg.cc/Ghmh3xtQ/Whats-App-Image-2021-05-20-at-10-32-48-AM.jpg" 
                class="card-img-top" alt="...">
            </div>
            </div>
            <div class="col-sm">
            <div class="card1">
                <img src="https://i.postimg.cc/PxHTgm01/Whats-App-Image-2021-05-20-at-10-32-48-AM-1.jpg" 
                class="card-img-top" alt="...">
            </div>
            </div>
            <div class="col-sm">
            <div class="card1">
                <img src="https://i.postimg.cc/28tmkpPk/Whats-App-Image-2021-05-20-at-10-32-48-AM-10.jpg" 
                class="card-img-top" alt="...">
            </div>
            </div>
          
            <div class="col-sm">
                <div class="card1">
                    <img src="https://i.postimg.cc/6QJXZrWF/Whats-App-Image-2021-05-20-at-10-32-48-AM-11.jpg" 
                    class="card-img-top" alt="...">
                </div>
                </div>
                <div class="col-sm">
                <div class="card1">
                    <img src="https://i.postimg.cc/05cP4KnJ/Whats-App-Image-2021-05-20-at-10-32-48-AM-2.jpg" 
                    class="card-img-top" alt="...">
                </div>
                </div>
                <div class="col-sm">
                <div class="card1">
                    <img src="https://i.postimg.cc/qqbr6WqG/Whats-App-Image-2021-05-20-at-10-32-48-AM-3.jpg" 
                    class="card-img-top" alt="...">
                </div>
                </div>

                <div class="col-sm">
            <div class="card1">
                <img src="https://i.postimg.cc/NjWg4h4J/Whats-App-Image-2021-05-20-at-10-32-48-AM-4.jpg" 
                class="card-img-top" alt="...">
            </div>
            </div>
            <div class="col-sm">
            <div class="card1">
                <img src="https://i.postimg.cc/LXV22JMw/Whats-App-Image-2021-05-20-at-10-32-48-AM-5.jpg"
                class="card-img-top" alt="...">
            </div>
            </div>
            <div class="col-sm">
            <div class="card1">
                <img src="https://i.postimg.cc/3NJ7R38R/Whats-App-Image-2021-05-20-at-10-32-48-AM-6.jpg" 
                class="card-img-top" alt="...">
            </div>
            </div>
        
        <!-- navegacion parte de abajo con numeros -->
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="/raza-gyrolandas" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="/raza-gyrolandas">1</a></li>
              <li class="page-item"><a class="page-link" href="/raza-gyrolandas/pagina-2">2</a></li>
              <li class="page-item"><a class="page-link" href="/raza-gyrolandas/pagina-3">3</a></li>
              <li class="page-item">
                <a class="page-link" href="/raza-gyrolandas/pagina-2">Next</a>
              </li>
            </ul>
          </nav>
    </div>
</div>


{% endblock %}