{% extends "layout.html" %}

{% block content %}

<!-- navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: goldenrod;">
    <!-- Image and text -->
    <nav class="navbar navbar-light" style="background-color: goldenrod;">
        <a class="navbar-brand" href="/">
        <img src="https://www.picuki.com/app/controllers/proxy_image.php?url=https%3A%2F%2Finstagram.fdnk3-2.fna.fbcdn.net%2Fv%2Ft51.2885-19%2Fs320x320%2F98067424_1031961143868190_1322240037517000704_n.jpg%3Ftp%3D1%26_nc_ht%3Dinstagram.fdnk3-2.fna.fbcdn.net%26_nc_ohc%3Djm0oWLEh0WMAX-hrYxq%26edm%3DABfd0MgBAAAA%26ccb%3D7-4%26oh%3De99df4a7d60be59b77d13ea638d97f68%26oe%3D60C734B3%26_nc_sid%3D7bff83" 
        width="70" height="70" class="d-inline-block align-content" alt="">
            Ganadería Juan Jero
        </a>
    </nav> 
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
<li class="nav-item ">
<a class="nav-link" href="/"> Inicio <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Razas
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
<a class="dropdown-item" href="/raza-gyrolandas"> Gyrolandas</a>
</div>
</li>
<li class="nav-item">
<a class="nav-link" href="/sobre-nosotros">Nosotros</a>
 </li>
<li class="nav-item">
<a class="nav-link" href="/contactenos">contactenos</a>
</li>
</ul></div>
</nav>

<h1 style="color: white;">gyrolandas</h1>

<!-- imagenes -->
<div class="gyrol">
    <div class="md-content">
        <div class="row">
          <div class="col-sm">
          <div class="card1">
              <img src="https://i.postimg.cc/FHfr3Fjk/Whats-App-Image-2021-05-20-at-10-32-48-AM-7.jpg" 
              class="card-img-top" alt="...">
          </div>
          </div>
          <div class="col-sm">
          <div class="card1">
              <img src="https://i.postimg.cc/s273HnHV/Whats-App-Image-2021-05-20-at-10-32-48-AM-8.jpg" 
              class="card-img-top" alt="...">
          </div>
          </div>
          <div class="col-sm">
          <div class="card1">
              <img src="https://i.postimg.cc/VLvmPsZZ/Whats-App-Image-2021-05-20-at-10-32-48-AM-9.jpg" 
              class="card-img-top" alt="...">
          </div>
          </div>

          <div class="col-sm">
            <div class="card1">
                <img src="https://i.postimg.cc/W1JVtWvM/Whats-App-Image-2021-05-20-at-10-32-49-AM.jpg" 
                class="card-img-top" alt="...">
            </div>
            </div>
            <div class="col-sm">
            <div class="card1">
                <img src="https://i.postimg.cc/vBMYcRhk/Whats-App-Image-2021-05-20-at-10-32-50-AM-7.jpg" 
                class="card-img-top" alt="...">
            </div>
            </div>
            <div class="col-sm">
            <div class="card1">
                <img src="https://i.postimg.cc/HspC54Qc/Whats-App-Image-2021-05-20-at-10-32-49-AM-7.jpg" 
                class="card-img-top" alt="...">
            </div>
            </div>
          
            <div class="col-sm">
                <div class="card1">
                    <img src="https://i.postimg.cc/cHdG9d8m/Whats-App-Image-2021-05-20-at-10-32-49-AM-1.jpg" 
                    class="card-img-top" alt="...">
                </div>
                </div>
                <div class="col-sm">
                <div class="card1">
                    <img src="https://i.postimg.cc/0NYq0zrj/Whats-App-Image-2021-05-20-at-10-32-49-AM-2.jpg" 
                    class="card-img-top" alt="...">
                </div>
                </div>
                <div class="col-sm">
                <div class="card1">
                    <img src="https://i.postimg.cc/ZRjtXX8h/Whats-App-Image-2021-05-20-at-10-32-49-AM-3.jpg" 
                    class="card-img-top" alt="...">
                </div>
                </div>

                <div class="col-sm">
            <div class="card1">
                <img src="https://i.postimg.cc/ZnRtmjHv/Whats-App-Image-2021-05-20-at-10-32-49-AM-4.jpg" 
                class="card-img-top" alt="...">
            </div>
            </div>
            <div class="col-sm">
            <div class="card1">
                <img src="https://i.postimg.cc/fW2QCnWc/Whats-App-Image-2021-05-20-at-10-32-49-AM-5.jpg" 
                class="card-img-top" alt="...">
            </div>
            </div>
            <div class="col-sm">
            <div class="card1">
                <img src="https://i.postimg.cc/3Jk5bSWP/Whats-App-Image-2021-05-20-at-10-32-49-AM-6.jpg" 
                class="card-img-top" alt="...">
            </div>
        </div>         
        </div>
        <!-- navegacion abajo con numeros -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="/raza-gyrolandas">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="/raza-gyrolandas">1</a></li>
              <li class="page-item"><a class="page-link" href="/raza-gyrolandas/pagina-2">2</a></li>
              <li class="page-item"><a class="page-link" href="/raza-gyrolandas/pagina-3">3</a></li>
              <li class="page-item">
                <a class="page-link" href="/raza-gyrolandas/pagina-3">Next</a>
              </li>
            </ul>
          </nav>
    </div>
</div>

{% endblock %}